{% extends 'mainapp/index.html' %}

{% block content %}

<section id="short_url">
    <h1>Общее количество переходов по URL</h1>
    <p class="mt-2">
        Общее количество кликов, полученных на данный момент по вашей ссылке
    </p>
    <p class="d-flex justify-content-center align-items-center" id="clicks_counter">
        <b>{{ clicks }}</b>
    </p>
    <p>
        Наш инструмент будет считать каждый клик как одно нажатие на
        длинный URL-адрес, даже если есть несколько кликов от одного и того же
        человека или устройства. <br>Проверьте
        <a href="{% url 'check_clicks' %}">общее количество кликов</a> с другого URL.
    </p>
    <a href="{% url 'home' %}">
        <button class="btn btn-primary" style="padding: 15px">Создайте другую короткую ссылку</button>
    </a>
</section>

{% endblock %}