<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShortUrl</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link type="text/css" href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet">
    <link href="https://i.ibb.co/gzSktNd/favicon.png" rel="shortcut icon" type="image/png" />
</head>
<body>

<header>
    {% block logo %}
        <div class="row h-100 d-flex justify-content-center align-items-center" id="header">
            <a class="d-flex w-25 justify-content-center align-items-center" href="{% url 'home' %}">
                ShortCutURL
            </a>
        </div>
    {% endblock logo %}
        <div class="row d-flex flex-row-reverse">
            {% if request.user.is_authenticated %}
                <a class="btn btn-outline-danger" id="login-btn" href="{% url 'logout' %}" role="button">Выйти</a>
                <a class="btn btn-outline-dark" id="login-btn" href="{% url 'dashboard' %}" role="button">DashBoard</a>
                <div class="row d-flex flex-row-reverse p-3" id="user-email">
                    Добро пожаловать, {{ request.user.username|truncatechars:20 }} !
                </div>
            {% else %}
                <a class="btn btn-outline-primary" id="login-btn" href="{% url 'sign-up' %}" role="button">Регистрация</a>
                <a class="btn btn-outline-success" id="login-btn" href="{% url 'sign-in' %}" role="button">Авторизоваться</a>
            {% endif %}
        </div>
</header>

<main>
    {% block content %}
    <section id="urlbox">
        <div class="row d-flex justify-content-center align-items-center">
            <h1 class="d-flex justify-content-center align-items-center" id="urlbox-h">Вставьте URL-адрес для сокращения</h1>
            <form method="post">
                {% csrf_token %}
                <div class="row g-2 my-2">
                    <div class="input-group-lg mb-1 ">
                        {{ form.long_url }}
                        <button type="submit" class="btn btn-primary">Сократить URL</button>
                    </div>
                    <div class="form-errors">
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    {% if field.fieldname == long_url %}
                                        <li>
                                            <h4>Произошла ошибка при создании короткого URL</h4>
                                        </li>
                                        <li>
                                            URL-адрес некорректен. Убедитесь, что URL-адрес, который вы
                                            пытались сократить, правильный.
                                        </li>
                                        <ul id="example-errors">
                                            Возможные ошибки:
                                            <li>
                                                Проверьте правильность домена
                                            </li>
                                            <li>
                                                Убедитесь, что длина URL-адреса не слишком мала
                                            </li>
                                            <li>
                                                В URL адресе страницы не должно быть пробелов,
                                                знаков препинания и лишних символов
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% else %}
                                    <li>{{ field.errors|striptags }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </form>
            <div class="container">
                <input type="checkbox" id="hd-1" class="hide"/>
                <label for="hd-1" >Последние сокращенные ссылки </label>
                    <div id="urlbox" style="background: #f6f4f4; border: dashed red">
                    {% if list_url %}
                        {% for url in list_url %}
                            <li style="list-style-type: '\22A8'">
                                Длинная ссылка: <a href="{{ url.long_url }}" target="_blank">{{ url.long_url|truncatechars:60 }} </a>
                            </li>
                            <li style="list-style-type: '\22A9'">
                                Короткая ссылка: <a href="{% url 'redirect_on_site' url.short_url %}" target="_blank">{{ request.get_host }}/{{ url.short_url }}</a>
                            </li>
                            <br>
                        {% endfor %}
                        {% else %}
                            <p>Вы еще не сокращали ссылки. Воспользуйтесь формой выше</p>
                        {% endif %}
                    </div>
            </div>

            <p class="d-flex justify-content-center align-items-center mt-2" style="margin-bottom: 0">
                ShortCutURL - это бесплатный инструмент для сокращения URL-адреса или ссылки
            </p>
            <p class="d-flex justify-content-center align-items-center">
                Используйте сокращенную ссылку для легкого запоминания и передачи
            </p>
        </div>
    </section>
    <section id="info">
        <div class="row">
            <h2 id="info-h">Простой и быстрый инструмент для сокращения URL!</h2>
            <p id="info-p">
                ShortCutURL позволяет сократить длинные ссылки из
                <a href="https://www.instagram.com/" target="_blank">Instagram</a>,
                <a href="https://www.facebook.com/" target="_blank">Facebook</a>,
                <a href="https://www.youtube.com/" target="_blank">YouTube</a>,
                <a href="https://www.twitter.com/" target="_blank">Twitter</a>,
                <a href="https://www.linkedin.com/" target="_blank">Linked In</a>
                и популярных сайтов в Интернете, просто вставьте длинный URL-адрес и нажмите кнопку «Сократить URL».
                На следующем экране скопируйте сокращенный URL-адрес и поделитесь им на веб-сайтах, в чате и по электронной почте.
                После сокращения URL-адреса вы можете
                <a href="{% url 'check_clicks' %}">проверить кол-во переходов </a> по вашей ссылке.
            </p>
        </div>
        <div class="row">
            <h2 id="info-h">Сокращайте, делитесь и отслеживайте</h2>
            <p id="info-p">
                Ваши сокращенные URL-адреса можно использовать в публикациях, документах, рекламе, блогах,
                форумах, мгновенных сообщениях и в других местах. Отслеживайте статистику вашего бизнеса и проектов,
                проверяя количество переходов с вашего URL-адреса с помощью счетчика кликов,
                вам не нужно регистрироваться.
            </p>
        </div>
    </section>
    <section id="advantages">
        <div class="row">
            <div class="col-4 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="https://i.ibb.co/wLtCSvG/icon-like.png" alt="icon-like">
                <h3>Легко</h3>
                <p>ShortCutURL - это просто и быстро, введите длинную ссылку,
                    чтобы получить сокращенную ссылку</p>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="https://i.ibb.co/P6R2d4m/icon-url.png" alt="icon-url">
                <h3>Сокращайте</h3>
                <p>Используйте любую ссылку, независимо от размера,
                    ShortCutURL всегда сократит</p>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="https://i.ibb.co/tHNV2Cf/icon-secure.png" alt="icon-secure">
                <h3>Безопасно</h3>
                <p>Это быстро и безопасно, в нашем сервисе есть протокол HTTPS и шифрование данных</p>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="https://i.ibb.co/xLk24V1/icon-statistics.png" alt="icon-statistics">
                <h3>Статистика</h3>
                <p>Проверьте количество переходов, полученных по вашему сокращенному URL</p>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="https://i.ibb.co/sJ0hBVY/icon-unique.png" alt="icon-unique">
                <h3>Надежно</h3>
                <p>Все ссылки, которые пытаются распространять спам, вирусы и вредоносные программы, удаляются.</p>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="https://i.ibb.co/DLQqKfh/icon-responsive.png" alt="icon-responsive">
                <h3>Устройства</h3>
                <p>Совместимость со смартфонами, планшетами и настольными компьютерами</p>
            </div>
        </div>
    </section>
    {% endblock content %}
</main>

<footer class="py-3 mt-5">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2">ShortCutURL</a></li>
      <li class="nav-item"><a href="{% url 'check_clicks' %}" class="nav-link px-2">Счетчик кликов</a></li>
      <li class="nav-item"><a href="{% url 'report' %}" class="nav-link px-2">Сообщить о плохой ссылке</a></li>
      <li class="nav-item"><a href="{% url 'terms' %}" class="nav-link px-2">Условия использования</a></li>
      <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link px-2">Контакты</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 ShortCutURL - Инструмент для сокращения длинных ссылок</p>
  </footer>

</body>
</html>