{% extends 'mainapp/index.html' %}

{% block content %}

<section id="terms">
    <h1>Условия использования</h1>
    <p>
        На этой странице объясняются условия использования короткого URL-адреса.
        Пользователь, использующий сайт для сокращения ссылок, обязан принять условия использования.
    </p>
    <h2>Правила пользования</h2>
    <p>
        Сайт доступен для доступа всем пользователям без ограничений по возрасту и стране,
        поэтому вам необходимо согласиться с условиями  при использовании наших услуг.
    </p>
    <p>
        В целях обеспечения безопасного сервиса для пользователей не разрешается создавать
        короткие ссылки, которые перенаправляют на URL-адреса, имеющие:
    </p>
    <ul style="list-style-type: '\2705';">
        <li>
              Контент, распространяющий фишинг, вредоносные программы или вирусы
        </li>
        <li>
              Порнографический, сексуальный, насильственный или предвзятый контент
        </li>
        <li>
              Контент, связанный с наркотиками, оружием или алкогольными напитками
        </li>
        <li>
              Любой контент, который может нарушать права других пользователей интернета
        </li>
        <li>
              Откровенный контент, вызывающий любой дискомфорт для других пользователей
        </li>
        <li>
              Контент для сбора данных и личной информации от пользователей
        </li>
    </ul>
    <p>
        Кроме того, не используйте короткий URL-адрес для сокращения ссылок с помощью скриптов,
        вредоносного кода, всплывающих окон, двойных перенаправлений, страниц без содержания и рекламных кампаний.
    </p>
    <p>
        Каждая созданная ссылка проверяется нашей командой, и если мы заметим какое-либо оскорбительное поведение,
        которое нарушает наши условия обслуживания при сокращении ссылок, они будут удалены без предварительного
        уведомления. Укороченные ссылки, которые длительное вермя не получают кликов, также будут удалены.
    </p>
</section>

{% endblock %}