html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 155px;
    padding: 0;
    background: #f9f9f9;
}

header{
    height: 120px;
    color: #0186da;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    text-shadow: 10px 10px 20px #ddd;
    word-wrap: break-word;
}

footer{
    background: #333333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 155px;
}

a{
    text-decoration: none;
}

h1{
    font: bold 36px asap,arial;
    color: #505050;
    letter-spacing: -1px;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

#urlbox{
    max-width: 780px;
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#urlbox-h{
    font: bold 36px asap,arial;
    color: #505050;
    letter-spacing: -1px;
}

#info{
    max-width: 780px;
    padding: 20px;
    margin: 20px auto 0 auto;
}

#advantages{
    max-width: 960px;
    padding: 20px;
    margin: 20px auto 0 auto;
}

#info-h{
    margin: 0 0 10px 0;
    font: bold 26px asap,arial;
    color: #505050;
    letter-spacing: 0;
}

#info-p{
    font: 16px "source sans pro",arial;
    color: #484848;
    line-height: 1.5;
    text-align: left;
}

.form-input{
    width: 520px;
    height: 50px;
}

.form-input-clicks{
    width: 400px;
    height: 50px;
}

.form-errors{
    border-radius: 10px;
    color: blue;
    background: lightpink;

}

.form-errors ul {
    margin: 0;
    list-style-type: none;
    font-size: 15px;
}

.form-errors ul #example-errors{
    list-style-type: "\2705";
}

#short_url{
    max-width: 800px;
    padding: 20px;
    margin: 20px auto 0 auto;
}

#short_url .row{
    background: white;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

#clicks_counter{
    font-size: 50px;
    background: white;
    width: 150px;
}

#terms{
    max-width: 800px;
    padding: 20px;
    margin: 20px auto 0 auto;
    font-family: Bebas Neue, sans-serif;
}

#terms h1, h2{
    font-family: Trebuchet MS, sans-serif;
    letter-spacing: -1px;
}

.hide {
    display: none;
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted green;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px;
}

/* demo контейнер */
.demo {
    margin: 5% 10%;
}